body{
  background-color: #dfdfdf;
}

h1 {
    text-align: center;
    font-weight: normal;
    font-size: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;
}

.navbar {
    background-color: #f3f3f3;
    overflow: hidden;
    text-align: center;
    min-height: 51px;
}

a.nav {
    line-height: 51px;
    color: #444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

a.icon {
  line-height: 51px;
  color: #444;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 16px;
}

.navbar a:hover {
    background-color: #dfdfdf;
    color: black;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
  .navbar a {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
  }
}

  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 16px;
    z-index: 1000;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 0px 16px;
    z-index: 1000;
  }

.header{
    background-image: url("images/cands.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 223px;
    z-index: 99;
}
